#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.map
*.hex
*.lss
*.eep
*.o
*.o.d
.metadata*
core_1_reload/default/core_1_reload.elf
core_2/default/core_2.elf
hdwy_core_1/.settings/org.eclipse.cdt.codan.core.prefs
hdwy_core_1/.settings/org.eclipse.cdt.core.prefs
hdwy_core_1/.settings/org.eclipse.cdt.ui.prefs
